html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

img {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin: 0;

}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding-bottom: 146px;
    background-color: #EEEFF1;
    max-height: 700px;
    padding-top: 63px;
    padding-bottom: 146px;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 21px;
    margin-bottom: 148px;
    max-height: 96px;
    margin-left: auto;
}

.logo {
    max-width: 96px;
    max-height: 60px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 611px;
    padding-right: 15px;


}

.menu_item {
    list-style: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #000;
}

.h2 {
    font-size: 32px;
    font-weight: 500;
}

.p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.menu_item:hover {
    color: #34547A;
    cursor: pointer;
}

.header__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    justify-items: center;
    align-items: center;


}

.header__text {
    text-align: left;
    max-width: 541px;
}

.header__img {
    width: 357px;
    height: 233.7px;

}

.h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 41px;
    text-shadow: 1px 3px gray;

}

.header__p {
    margin-bottom: 52px;
    min-width: 540px;
    line-height: 27px;
}

.header__btn {
    background-color: #34547A;
    color: #fff;
    padding: 25px 41px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    display: flex;
    align-items: center;

}

.about-me {
    padding-top: 119px;
    padding-bottom: 100px;
    text-align: center;
}

.about-me__h2 {
    margin-bottom: 38px;

}

.about-me__p {
    max-width: 540px;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.numbers {
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom: 100px;
    max-height: 250px;
}

.numbers__grid {

    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 49px;
    justify-items: end;
    align-items: center;
    justify-content: center;
}


.numbers__img {
    width: 141px;
}

.skills {

    padding-top: 102px;
    padding-bottom: 101px;
}

.skills__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__flex-left {
    margin-right: 150px;

    padding-top: 44px;
}

.progress-bar {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: #999;
    margin-bottom: 30px;
}

.skills__p {
    margin-bottom: 20px;
}

.progress-bar-completed {
    background-color: #34547A;
}

.skills__h2 {
    margin-bottom: 42px;
}

.progress-bar-remaining {}

.skills__flex-right {}

.skills__img {
    width: 555px;
    height: 450px;
}

.video {
    padding: 99px 0;
    text-align: center;
    background-color: #E5E5E5;
    max-height: 1004px;
}

.video__h2 {
    text-align: center;
    margin-bottom: 50px;
}

.video__p {
    width: 540px;
    margin: 0 auto 57px;
    line-height: 1.5;
}

.projects {
    padding-top: 23px;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
}


.projects__img {}

.clients {}

.clients__flex {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 100px;
}

.clients__flex-item {
    margin-right: 30px;
}

.clients__flex-item:last-child {
    margin-right: 0px;
}

.form {
    padding: 100px 0;
    background-color: #EEEFF1;
    text-align: center;
    max-height: 762px;
}

.form__info {
    width: 540px;
    margin: 0 auto 56px;

}

.form__h2 {
    margin-bottom: 41px;
}

.form__p {
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.02em;

}
.form__inner {
    margin: 0 auto;
    max-width: 540px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.form__inner__name {

    width: 255px;
    height: 50px;
    background-color: #fff;
    border: none;
}
#form__message {
    max-width: 540px;
    width: 100%;
    height: 175px;
    border: none;
    resize: vertical;
    margin-bottom: 49px;
}

.form__inner__name::placeholder,
#form__message::placeholder {
   
    font-size: 14px;
    color: #5F5D5D;
    padding-left: 21px;
    padding-top: 19px;
}

.form__btn {
    display: block;
    align-items: center;
    margin: 0 auto;
    background-color: #34547A;
    color: #fff;
    font-weight: 400;
    border: none;
    font-size: 14px;
    padding: 20px 40px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;

}
.footer {
    height: 151px;
    background-color: #34547A;
    padding: 50px 0;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__flex-left {
    
}
.footer__span {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.footer__p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.footer__flex-right {
    display: flex;
}
.footer__flex-right-item {
    margin-right: 20px;
}

.footer__flex-right-item:last-child {
    margin-right: 0px;
   
}
@media screen and (max-width: 1280px) {
    .header__title {
       flex-direction: column;
       
    }
    .logo {
        margin-bottom: 20px;
    }
    .header__info {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
    }
  
    .numbers__flex {
        flex-wrap: wrap;
    }
    .skills__flex {
        flex-direction: column;
        justify-content: center;
    }
    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
    }

}




@media screen and (max-width: 768px) {

}
